HOST=0.0.0.0
PORT=1337

APP_KEYS=toBeReplacedA,toBeReplacedB,toBeReplacedC,toBeReplacedD
API_TOKEN_SALT=toBeReplacedApiTokenSalt
ADMIN_JWT_SECRET=toBeReplacedAdminJwtSecret
TRANSFER_TOKEN_SALT=toBeReplacedTransferTokenSalt
JWT_SECRET=toBeReplacedJwtSecret

DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/goofy_shop?schema=public
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=goofy_shop
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SCHEMA=public
DATABASE_SSL=false
DATABASE_CONNECTION_TIMEOUT=60000

UPLOAD_SIZE_LIMIT_MB=25
